.formContainer {
  background-color: #a7bcff;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer .formWrapper {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.formContainer .formWrapper .logo {
  color: #5d5b8d;
  font-weight: bold;
  font-size: 24px;
}

.formContainer .formWrapper .title {
  color: #5d5b8d;
  font-size: 12px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formContainer form input {
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid #a7bcff;
}

.formContainer form input::placeholder {
  color: rgb(175, 175, 175);
}

.formContainer form button {
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.formContainer form label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8da4f1;
  font-size: 12px;
  cursor: pointer;
}

.formContainer form label img {
  width: 32px;
}

.formContainer p {
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 10px;
}

.home {
  background-color: #a7bcff;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .container {
  border: 1px solid white;
  border-radius: 10px;
  width: 100vh;
  height: 90vh;
  display: flex;
  overflow: hidden;
}

.home .container .sidebar {
  /* flex: 1; */
  cursor: pointer;
  width: 100vh;
  background-color: #004978;
  position: relative;
}


.hidden {
  display: none;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}


.home .container .sidebar .navbar {
  display: flex;
  /* align-items: center; */
  background-color: #013f66;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
}
 .navbar .out{

 background-color: #d30000e1;
  color: #ffffff;
  font-size: 15px;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}


.home .container .sidebar .navbar .logo {
  font-weight: bold;
  margin: 12px;
}

.home .container .sidebar .navbar .user img {
  display: none;
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.home .container .sidebar .navbar .user{
  margin: 12px;
}
.home .container .sidebar .navbar .user span{
  padding: 16px;
}

.home .container .sidebar .navbar .user button {
  background-color: #d30000e1;
  color: #ffffff;
  font-size: 10px;
  border: none;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.home .container .sidebar .search {
  border-bottom: 1px solid gray;
}

.home .container .sidebar .search .searchForm {
  padding: 10px;
}

.home .container .sidebar .search .searchForm input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.home .container .sidebar .search .searchForm input::placeholder {
  color: lightgray;
}

.home .container .sidebar .userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.home .container .sidebar .userChat:hover {
  background-color: #2f2d52;
}

.home .container .sidebar .userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.home .container .sidebar .userChat .userChatInfo span {
  font-size: 18px;
  font-weight: 500;
}

.home .container .sidebar .userChat .userChatInfo p {
  font-size: 14px;
  color: lightgray;
}

.home .container .chat {
  flex: 2;
  /* display:  none; */
}
.display{
  display: block;
}

.home .container .chat .chatInfo {
  height: 50px;
  background-color: #0065a7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}

.home .container .chat .chatInfo img {

  width: 24px;
  height: 24px;
}

.home .container .chat .messages {
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}

 .home .container .chat .messages .message {
  display: flex;
  gap: 2px;
  margin-bottom: 10px;
}
.home .container .chat .messages .owner {

  justify-content: flex-end;
}

.home .container .chat .messages .owner .messageContent {
  align-items: flex-end;
}

.home .container .chat .messages .owner .messageContent p {
  background-color: #8da4f1;
  color: rgb(0, 0, 0);
  border-radius: 10px 0px 10px 10px;
}

.home .container .chat .messages .message .messageInfo {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-weight: 300;
}



.home .container .chat .messages .message .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.home .container .chat .messages .message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.home .container .chat .messages .message .messageContent span{
  font-size: small;
}

.home .container .chat .messages .message .messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}
.home .container .chat .messages .owner .messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px 0px 10px 10px;
  max-width: max-content;
}


.home .container .chat .messages .message .messageContent img {
  width: 100%;
  border-radius: 10px;
}




.home .container .chat .input {
  height: 50px;
  background-color: #013f66;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .container .chat .input .textIN {
  width: 75%;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #013f66 ;
  font-size: 18px;
  max-width: 75%;

}

.home .container .chat .input input::placeholder {
  color: rgb(255, 255, 255);
}
.home .container .chat .input .send{
  display: flex;
  align-items: center;
  gap: 10px;

}

.home .container .chat .input .send img {
  width: 24px;
  cursor: pointer;
  color: white;

  /* margin-right: 10px; */
}

.home .container .chat .input .send button {
  border: none;
  padding: 15px 10px;
  color: white;
  background-color: #00b70f;
  cursor: pointer;
  border-radius: 30px;
}

/* -------------------------------------------------------------- */
/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Adjust font sizes and spacing for smaller screens */
  body {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  /* Make navigation menu vertical for smaller screens */
  nav ul {
    display: flex;
    justify-content: space-between;
    /* flex-direction: ; */
  }

  nav li {
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .open{
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
  }
  .open:hover{
    background-color: #00b70f;
  }
  .open img{
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    color: #2c2c2c;
    /* background-color: #3f3f3f; */
  }
}

/* Common Styles */
/* body {
  font-family: Arial, sans-serif;
  margin: 20px;
} */

header {
  text-align: center;
  margin-bottom: 20px;
}
nav{
  display: flex;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
}

section {
  margin-bottom: 30px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

footer {
  text-align: center;
  margin-top: 30px;
}

/* Additional Styles */
p {
  margin-bottom: 10px;
}
nav li {
  margin-bottom: 10px;
  padding-left: 20px;
}
.open{
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
}
.open:hover{
  background-color: #00b70f;
}
.open img{
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  color: #2c2c2c;
  /* background-color: #3f3f3f; */
}